header {
    @apply absolute inset-x-0 top-0 bottom-auto z-10 w-full py-6 flex justify-center items-center;
}

/* Transitions using the page hook */
.page-enter-active,
.page-leave-active {
    transition: all 0.6s cubic-bezier(0.37, 0, 0.63, 1);
}
.page-enter, .page-leave-to
  /* .page-leave-active below version 2.1.8 */ {
    transform: translateY(20px);
    opacity: 0;
}

#__nuxt,
#__layout,
.container {
    @apply max-w-[1920px] w-full flex flex-col items-center overflow-hidden;
}
